/.idea/
/target/
server.iml
/src/simulation/data/
/src/simulation/drawing/charts/
/docs/dbdumps/
src/simulation/drawing/__pycache__/
/SpringApplication.iml
/SpringApplication/src/simulation/data/
/SpringApplication/src/simulation/drawing/charts/
/docs/simulation/
/SpringApplication/target/
/Domain/target/
/Application/target/
/Adapters/target/
/Adapters.iml
/Domain.iml
